@import "./table.css";
@import "./presets.css";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
}

.wrapper {
    background-color: #ffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .04);
    border-radius: 10px;
    max-width: 1080px;
    margin: 50px auto;
}

header {
    border-bottom: 2px solid #f4f4f4;
}

p {
    margin: 0;
}

h3 {
    margin: 0 0 10px 0;
}

.leftHeader img {
    width: 50px;
    height: 50px;
    background-image: url('../images/logo.png');
}

.questions {
    box-sizing: border-box;
    min-height: calc(100vh - 370px);
    margin-top: 40px;
}
.questions h3{
    font-size: 22px;
    font-weight: 600;
    color: #2d73bc;
}
.questions h2{
    font-weight: 300;
}

img {
    margin-right: 15px;
}

.form {
    flex: 1;
    margin-top: 45px;
    width: 100%;
    padding-left: 40%;
}

label {
    margin-top: 25px;
}

.checkbox {
    display: none;
}

.labelText {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    color: #2d73bc;
}

.checkboxStyle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #2d73bc;;
    position: relative;
    border-radius: 5px;

}

.checkboxStyle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 20px;
    background-color: #9dd558;
    opacity: 0;
    transition: 0.3s;
    border-radius: 5px;
}

.checkbox:checked + .checkboxStyle::before {
    opacity: 1;
}

.answerButton {
    width: 400px;
    height: 70px;
    background-color: #9dd558;
    border-radius: 18px;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 55px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.answerButton img {
    position: absolute;
    margin-left: 20px;
    top: 17px;
    transition: all 0.2s ease-in-out;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.answerButton:hover {
    background-color: #b6d558;
}

img {
    margin-left: 27px;
}

.answerButton:hover img {
    margin-left: 37px;
}

.answerButton:active {
    background: #83d558;
}

.preloader_window_wrapper{
    width: 100%;
    height: calc(100vh - 370px);

}
.message_window_wrapper{
    min-width: 350px;
    height: 100px;
    background-color: grey;
    position: fixed;
    top:20px;
    left: 50%;
    z-index: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s;
    transform: translateX(-50%);
}
.message_window_content{
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.message_window_hidden{
    top: -150px
}
.positive{
    background-color: #2d73bc;
}


